@font-face {
    font-family: "Web Serveroff";
    src: url("../fonts/Web Serveroff.otf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #EDF5E9;
    margin: 0;
}

h1 {
    margin-top: 0;
    text-shadow: 0px 0px 4px #919293;
    font-weight: lighter;
    font-size: 48px;
    font-family: "Web Serveroff", Georgia, "Times New Roman", Times, serif;
}

h3 {
    margin-top: 25px;
    font-size: 18px;
}

li {
    margin-top: 2px;
}

#footer {
    font-size: 13px;
}

#tidsperiode {
    font-size: 19px;
    letter-spacing: 2px;
    direction: rtl;
}

.valgt_periode {
    font-size: 24px;
    font-weight: bolder;
}

#bildeliste img {
    margin: 5px 0px;
}

#bildeliste {
    font-size: 13px;
}

#bildeliste table tr td {
    border: 0 !important;
}

#tidsperiode a {
    color: #000;
    font-style: normal;
    text-decoration: none;
}

#tidsperiode a:hover {
    color: #000;
    font-style: normal;
    text-decoration: underline;
}

header {
    width: 100%;
    height: 144px;
    background-image: url('../images/header_bg.jpg'), url('../images/header_gradient.jpg');
    background-repeat: no-repeat, repeat-x;
    background-position: 0 0, 0 0;
    background-size: 1013px 144px, 1px 144px;
}

header img {
	width: 225px;
	height: 144px;
	float: left;
}

header .header-text {
	font-family: "Web Serveroff", Georgia, "Times New Roman", Times, serif;
	width: 300px;
	float: left;
	margin-left: 15px;
}

header p.header-name {
	margin: 0;
	font-size: 40px;
	padding-top: 40px;
}

header p.header-slogan {
	margin: 0;
	font-size: 24px;
}

#nav-mobile {
	display: none;
}

#nav-desktop {
    width: 100%;
    height: 35px;
    background-image: url('../images/menybg.png');
    background-repeat: repeat-x;
}

#nav-desktop .menuitem {
    float: left;
    height: 35px;
    background-image: url('../images/menygrid.png');
    background-repeat: no-repeat;
    padding: 0 25px;
}

#nav-mobile .menuitem {
    border-bottom: 1px #ccc solid;
    height: 50px;
}

#nav-mobile .menuitem a {
	line-height: 50px;
}

.menuitem a {
    width: 100%;
    height: 100%;
	display: block;
	font-family: "Web Serveroff", Georgia, "Times New Roman", Times, serif;
	line-height: 35px;
	font-size: 22px;
	text-align: center;
	text-decoration: none;
	color: black;
}


.menuitem a:hover {
	text-decoration: underline;
}

#content {
    max-width: 800px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}

img {
    border-width: 0px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.5em;
}

.hamburger-menu-button {
	display: none;
	position: absolute;
	right: 15px;
	top: 10px;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	border-width: 0;
	background-color: transparent;
	outline-width: 0;
}

.hamburger-menu-button img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 570px) {
	header img.photo {
		display: none;
	}
	
	header {
	    background-position: -225px 0, 0 0;
	}
}

@media screen and (max-width: 840px) {
	#nav-desktop {
		display: none;
	}
	
	.hamburger-menu-button {
		display: block;
	}
}

@media screen and (min-width: 840px) {
	#nav-mobile {
		display: none !important;	
	}
}