div {
	margin: 5px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #b9cfa1;
}
#innhold {
	background-color: #E2ECD9;
}

/* header Styles */
#header h1 {
	font-weight: normal;
	color: #261;
	text-transform: uppercase;
	display: inline;
}
#header h3 {
	font-weight: normal;
	color: #708090;
}
/* Navigation Styles */
#meny ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#meny a {
	text-decoration: none;
	color: #fff8dc;
	display: block;
	margin: 0 1px;
	padding: 5px;
	border: 1px solid #708090;
	background-color: #8fbc8f;
}
#meny a:hover {
	text-decoration: none;
	color: #261;
	background-color: #ccc;
}
/* Sidebar Styles */
#sidebanner p {
	color: #555;
}
/* Link Styles */
a {
	color: #261;
	text-decoration: underline;
}
a:hover {
	color: #708090;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
.float_right{
	float:right;
}
.glimt_tabell{
	width:500px;
	margin: 0 auto 0 auto;
}

